body {
    background-color: rgb(250, 250, 250);
    color: black;
}

#writtenDigits {
    background-color: rgb(255, 255, 255);
    color: black;
}

#inputDigit {
    background: rgb(200, 200, 200);
    color: black;
}