body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: rgb(250, 250, 250);
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2B2A33;
        color: white;
    }
}